{% load i18n %}
{% load cloudinary %}
<!DOCTYPE html>
<html>
	<head>

		<title>FRNCi | Find Locals, Travel for Real.</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/static/css/fontello.css" rel="stylesheet" media="screen">
		<link href="/static/css/mystyle.css" rel="stylesheet" media="screen">
		<link href="/static/css/shop_slider.css" rel="stylesheet" media="screen">
		<link href="/static/css/slider.css" rel="stylesheet" media="screen">
		<link href="/static/css/slider_2.css" rel="stylesheet" media="screen">
		<link href="/static/css/sub_slider.css" rel="stylesheet" media="screen">
		<link href="/static/css/twitter_slider.css" rel="stylesheet" media="screen">
		<link href="/static/css/slide_background.css" rel="stylesheet" media="screen">
		<link href="/static/css/shop_slider_background.css" rel="stylesheet" media="screen">
		<link href="/static/css/subpage_banners.css" rel="stylesheet" media="screen">
		<link href="/static/css/jrating.jquery.css" rel="stylesheet" media="screen">
		<link href="/static/css/my.css" rel="stylesheet" media="screen">
		<link href="/static/css/chat.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!--[if IE 9]><link rel="stylesheet" type="text/css" href="/static/css/ie9.css"><![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/static/js/modernizr.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<script type="text/javascript" src="/static/js/chat.js"></script>

	</head>
	<body class="blog-classic">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col col-sm-12">
						<div class="navbar-header">
							<a class="navbar-brand" href="/"><img src="/static/images/materials/logo-orange.png" alt="Logo"></a>
						</div>
					</div>
				</div>
			</div>
		</nav><!-- Main Navigation --><!-- Main Navigation -->


		<div id="main">
			<div class="blank"></div>

			<div id="chat">
				<div id="friend-list">
					<div class="friend-item">
						<div class="name">pin</div>
						<div class="words">hey</div>
					</div>
					<div class="friend-item active">
						<div class="name">ng</div>
						<div class="words">how are you doing now</div>
					</div>
					<div class="friend-item">
						<div class="name">wendy</div>
						<div class="words">what</div>
					</div>
					<div class="friend-item">
						<div class="name">max</div>
						<div class="words">yo</div>
					</div>
				</div>
				<div id="content">
					<div id="conversation">
						<div class="sentence">
							<div class="name">ng</div>
							<div class="words">how are you</div>
						</div>
						<div class="sentence">
							<div class="name">john</div>
							<div class="words">good</div>
						</div>
					</div>
					<div id="reply">
						<textarea id="typing" placeholder="type something"></textarea>
					</div>
				</div>
			</div>
		</div>


		<div class="blog-masonry-container blog_classic">
			<div class="md-overlay"></div>
			<div class="jquery-media-detect"></div>
			<script type="text/javascript" src="/static/js/jrating.jquery.js"></script>
			<script type="text/javascript" src="/static/js/myscript.js"></script>
			<script type="text/javascript" src="/static/js/modal_effects.js"></script>
		</div>
	</body>
</html>
