.slide-bg1 {
    background:url(/static/images/materials/banner1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg2 {
    background:url(/static/images/materials/banner2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg3 {
    background:url(/static/images/materials/banner3.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg4 {
    background:url(/static/images/materials/banner4.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
